# files
data_org
Brainstorming
document_template

# data
data/*.json
data/data_pre

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.synctex(busy)
*_minted*

# vscode
*.vscode

# python
*__pycache__*

# tmp
*tmp*