# files
data_org
Brainstorming
document_template

# data
data/*.json
data/data_pre

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
main.pdf
*.synctex.gz
*.synctex(busy)
*_minted*
*.bbl
*.blg
*.xdp-*
references

# vscode
*.vscode

# python
*__pycache__*
*.ipynb_checkpoints

# tmp
*tmp*

#figures
*.jpg
*.png
*.jpeg

#mac
*.DS_Store